# Core backend
fastapi
uvicorn[standard]

# MongoDB
pymongo
dnspython  # SSL Atlas

# Langchain core + retriever
langchain
langchain-community
langchain-together
langchain-huggingface
sentence-transformers
huggingface-hub
faiss-cpu
rank_bm25

# File loaders và NLP utils
PyPDF2
pypdf
pdfminer.six
python-docx
python-multipart
unstructured
nltk

# Streamlit UI
streamlit
requests
httpx

# Utils
python-dotenv
tiktoken
pydantic
accelerate
